* {
    box-sizing: border-box;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif;
	background-color: #ffffffda;
}

.nav {
	background-color: #ff0000d7;
	border-bottom: 1.5px solid white;
	box-shadow: 0px 1px 4px black;
}
.centratonav{
	width: 550px;
	margin: auto;
	padding: 10px;
	text-align: center;
}
.contenuto {
	width: 550px;
	margin: auto;
	padding: 15px;
	text-align: center;
	padding-bottom: 40px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #22225b;
	border-top: 1.5px solid #de9606;
	box-shadow: 1px 0px 4px black;
	color: #de9606;;
	font-size: 9px;
	text-align: center;
	padding: 10px;
}

#tab_dati_personali{
	text-align: left;
	margin: auto;
}
.tab_input{
	text-align: left;
	margin: auto;
}
.input_dati_personali{
	width: 300px;
}
input{
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif;
}
ul.navlinks{
	color: #b48648;
	font-weight: bold;
	padding-left: 0px;
}
ul.navlinks li {
	display: inline;
	margin: 10px;
}
ul.navlinks li#active{
	/* color:#e8dbca; */
	color:white;
}
ul.navlinks li a{
	text-decoration: none;
	color: #de9606;
}
ul.navlinks li a:hover{
	color: white;
}
.hidden{
	display: none;
}

.elenco_libri{
	text-align: left;
	margin: auto;
}
.card-libro {
    display: flex;
    border: 1.5px solid #be935b;
    border-radius: 3px;
    margin: 10px 0px;
    padding: 5px;
}
.card-libro__img {
    width: 25%;
}
.card-libro__img img {
    width: 100%;
}
.card-libro__testo {
    display: flex;
    align-items: center;
    padding: 10px;
}
.link-scheda {
    font-size: 10px;
}

.copertina-fr {
    float: right;
    width: 30%;
}
.copertina-fr img {
    width: 100%;
    margin-left: 10px;
}
.descrizione {
    text-align: left;
    font-size: 12px;
}

#form_restituzione{
	text-align: left;
	width: max-content;
}
#tabella_selezione_libri{
	text-align: left;
	margin: auto;
	font-size: smaller;
}
#tabella_selezione_libri th, #tabella_selezione_libri td:last-child{
	text-align: center;
}


