* {box-sizing: border-box; font-family: american typewriter, serif;}
html {
height: 100%;
font-family: american typewriter, serif;
}
.contenitore-pagina {background: black; max-width: 1200px; margin:auto}
.header {
background: black;

}
.header_logo{
float: left;
color:white;
display: block;
height: 50px;
}
.header_logo img{
height: 100%;
}
.header_menu{
float:right;
margin: 0;
padding:0;
}
.header_menu_item{
display: inline-block;
}

.header_menu_item a{
color:white;
text-decoration: none;
display: block;
padding: 15px;
}
.header_menu_item a:hover{background: #8e0e0e; }
.header_bar{display:block; float: right;padding: 20px;display: none;}
.header_bar span{display: block;height: 3px;width:30px;background:white;margin-bottom: 5px;}

body {background-color: black;
font-size: 20;
color:whitesmoke 
}
body h1{
font-size: 34px;
font-weight: 600;
min-width: 280px;
}

body h1 span{
position: relative;
}

body h1 span::before{
content: "Miei";
color: #8e0e0e;
animation: words 20s infinite;
}

body h1 span::after{
content: "";
position: absolute;
width: calc(100% + 8px);
height: 100%;
background-color: black;
border-left: 2px solid #8e0e0e;
right: -8px;
animation: cursor 0.8s infinite, typing 20s steps(10) infinite;
}

@keyframes cursor {
to{
  border-left: 2px solid #ff7f5000;
}
}

@keyframes words {
0%,20%{
  content: "Miei";
}
21%,40%{
  content: "Tuoi";
}
41%,60%{
  content: "Suoi";
}
61%,80%{
  content: "Nostri";
}
81%,100%{
  content: "Vostri";
}

}

@keyframes typing {
10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
  width: 0;
}
5%,20%,25%,40%,45%,60%,65%,80%,85%{
  width: calc(100% + 8px);
}
}



.animate{
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
padding:0;
}
* html .clearfix             { zoom: 1; } 
*:first-child+html .clearfix { zoom: 1; } 

.barrette{display: none;}


::-webkit-scrollbar {
width: 3px;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px black; 
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: #8e0e0e; 
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #8e0e0e; 
}

.slide {
max-width: 1800px;
width: 95%;
}
.slider-wrapper {
position: relative;
}
.slider-wrapper .slide-button {
position: absolute;
top: 50%;
outline: none;
border: none;
height: 50px;
width: 50px;
z-index: 5;
color: white;
display: flex;
cursor: pointer;
font-size: 2.2rem;
background: white;
align-items: center;
justify-content: center;
border-radius: 50%;
transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
background: whitesmoke;
}
.slider-wrapper .slide-button#prev-slide {
left: -25px;
display: none;
}
.slider-wrapper .slide-button#next-slide {
right: -25px;
}
.slider-wrapper .image-list {
display: grid;
grid-template-columns: repeat(73, 1fr);
gap: 18px;
font-size: 0;
list-style: none;
margin-bottom: 30px;
overflow-x: auto;
scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
display: none;
}
.slider-wrapper .image-list .image-item {
width: 375px;
height: auto;
object-fit: cover;
padding-top: 10px;
}
.image-item img{
height: 100%;
}
.container .slider-scrollbar {
height: 24px;
width: 100%;
display: flex;
align-items: left;
}


.slider-scrollbar .scrollbar-track {
background: #8e0e0e;
width: 100%;
height: 5px;
display:flex;
align-items: center;
border-radius: 4px;
position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
position: absolute;
background: #000;
top: 0;
bottom: 0;
width: 50%;
height: 100%;
cursor: grab;
border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
cursor: grabbing;
height: 8px;
top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
content: "";
position: absolute;
left: 0;
right: 0;
top: -10px;
bottom: -10px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


* {
margin: 0;
padding: 0;
box-sizing: border-box;

}


.container {
width: 100%;
min-height: 100vh;
background-color: #0e0d12;
padding: 20px 6%;
padding-top: 0;
display: grid;
align-items: center;
}

.container .movie-cards {
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
grid-gap: 20px;
}

.movie-cards .card {
position: relative;
color: #fff;
border-radius: 5px;
cursor: pointer;
overflow: hidden;
}

.card img {
width: 100%;
height: 100%;
transition: all 0.5s;
}
.card a{
text-decoration: none;
color: white;
}
.card .content {
width: 100%;
height: 100%;
position: absolute;
bottom: 0;
background: linear-gradient(rgba(0, 0, 0, 0.2), #ff0000d7);
padding: 85% 4% 0 4%;
opacity: 0;
transition: all 0.5s;
}

.content .name {
font-size: 28px;
font-weight: 700;
}

.content .infos {
font-size: 12px;
font-weight: 600;
}

.content .short-desc {
font-size: 14px;
line-height: 1.1;
padding: 6px 0;
}

.content .icons a {
font-size: 18px;
color: #fff;
margin-right: 6px;
}

.content .icons a i {
transition: all 0.5s;
}

.content .icons a:hover i {
transform: translateY(-2px);
}

.movie-cards .card:hover img {
transform: scale(1.05);
}

.movie-cards .card:hover .content {
opacity: 1;
}


:root {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family:'Courier New', Courier, monospace;
}
.footer {
position:relative;
top:0;
bottom: 0;
left: 0;
right: 0;
padding: 20px;
background: #111;
color: black;
font-weight: 500;
display: flex;
justify-content: center;
align-items: center;
height: auto;
width: 100%;
gap: 0.2rem;
color: #fff;
}


.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}



@media only screen and (max-width: 1023px) {
.slider-wrapper .slide-button {
  display: none !important;
}

.slider-wrapper .image-list {
  gap: 10px;
  margin-bottom: 15px;
  scroll-snap-type: x mandatory;
}

.slider-wrapper .image-list .image-item {
  width: 280px;
  height: 380px;
}

.slider-scrollbar .scrollbar-thumb {
  width: 20%;
}
}

@media (max-width:998px){

}

@media (max-width:767px){
  .header_menu{width:100%; height: 0px;overflow: hidden;}
  .header_menu_item{display: block;}
  .header_bar{display: block;}
  .is-open{height: 300px;overflow: auto;}
  .card .content {
      padding: 95% 4% 0 4%;
  }
  
    .content .name {
      font-size: 32px;
  }
  
    .content .infos,
    .content .short-desc {
      font-size: 14px;
  }
  
}